### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea/
QuantityMeasurementApp.iml

### Maven ###
target/
*.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Application ###
logs/
*.dat
*.log

### UC17 - Old UC16 files ###
dump/